html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.background {
	height: 64px;
	background-color: #fafafa;
	display: flex;
	align-items: flex-end;
}

.logo {
	margin-left: 13px;
	margin-right: 13px;
}

.alignment-container {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.search-area {
	width: 632px;
	height: 44px;
	border: 0;
	margin-right: auto;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
}

input {
	width: 511px;
	height: 34px;
	border: 0;
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 34px;
}

:focus {
	outline: white none 0;
}

.apps {
	margin: 0 20px;
}

button {
	background-color: #4285f4;
	border: 0px;
	border-radius: 2px;
	font-family: arial;
	font-size: 13px;
	width: 70px;
	height: 30px;
	margin-right: 20px;
	color: white;
}

.navbar {
	width: 632px;
	height: 44px;
	margin-left: 150px;
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
}
	
.navbar a {
	margin: 0 16px;
	color: #777;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 13px;
}

.navbar a:hover {
	color: #222;
}

.current {
	color: #4285f4;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 13px;
	padding-top: 15.5px;
	padding-bottom: 12.5px;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 3px solid #4285f4;
}

.navbar .cutoff {
	margin-right: auto;
}

main h1 {
	width: 600px;
	height: 43px;
	line-height: 43px;
	font-size: small;
	margin-left: 166px;
	margin-bottom: 21.5px;
	color: #808080;
}

main div {
	width: 600px;
	height: 75px;
	margin-bottom: 26px;
	margin-left: 166px;
}

main h2 {
	font-size: 18px;
	font-weight: normal;
	font-family: 'Roboto', arial, sans-serif;
}

main a:hover {
	text-decoration: underline;
}

.url {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	color: #006621;
	font-style: normal;
	font-weight: normal;
}

.description {
	line-height: 1.4;
	color: #545454;
	font-family: 'Roboto', arial, sans-serif;
	font-size: small;
	font-weight: normal;
}

main .bottom {
	height: auto;
	margin-top: 21.5px;

}

.bottom h2 {
	margin-bottom: 21.5px;
}

main .flex-container {
	height: auto;
	margin-left: 0;
	margin-bottom: 39px;
	display: flex;
}

ul {
	width: 178.406px;
	height: 104px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul a {
	font-weight: bold;
	font-size: 14px;
	font-family: 'Roboto', arial, sans-serif;
}

td {
	width: 20px;
	height: 55px;
}

td span {
	background: url("https://www.google.com/images/nav_logo242_hr.png") no-repeat;
	background-position: -24px 0;
	background-size: 167px;
	width: 28px;
	display: block;
	height: 40px;
	margin-bottom: 15px;
}

li div {
	width: auto;
	height: auto;
	margin: 0;
}

ol {
	display: flex;
	justify-content: center;
}

ol li {
	text-align: center;
}

.g {
	background: url("https://www.google.com/images/nav_logo242_hr.png") no-repeat;
	background-position: -24px 0;
	background-size: 167px;
	width: 28px;
	height: 40px;
}

.red-o {
	background: url("https://www.google.com/images/nav_logo242_hr.png") no-repeat;
	background-position: -53px 0;
	background-size: 167px;
	width: 20px;
	height: 40px;
}

.yellow-o {
	background: url("https://www.google.com/images/nav_logo242_hr.png") no-repeat;
	background-position: -74px 0;
	background-size: 167px;
	width: 20px;
	height: 40px;
}

.gle {
	background: url("https://www.google.com/images/nav_logo242_hr.png") no-repeat;
	background-position: -96px 0;
	background-size: 167px;
	width: 71px;
	height: 40px;
	margin-right: 9px;
}

ol a {
	font-weight: bold;
	font-family: 'Roboto', arial, sans-serif;
	font-size: small;
}